@model IEnumerable<IguanaTracker.Data.Data.Iguana>
@using IguanaTracker.Data.Helpers;

@{
	ViewData["Title"] = "Sightings";
}

<h1>Sightings</h1>

@Html.ActionLink("Add Sighting", "AddSighting", "Home")


@foreach (var item in Model.Reverse())
{
	<hr />
	<div id="iguana_@item.Id" class="sighting">
		<div>
			<img class="img-fluid" role="img" aria-label="Uploaded image" src="@Helpers.formatBytesToImage(item.Image)" width="500" alt="iguana_@item.Id" />
			<div id="map-container-google-1" class="map-container" style="width: 500px; height: 350px;">
				<iframe aria-label="Google map pinpointing location of iguana sighting." src="@String.Format("https://maps.google.com/maps?q={0},{1}&z=15&output=embed", item.Latitude, item.Longitude)" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
			</div>

		</div>
		<div>
			<div>
				<label><b>Date Posted:</b></label>

				@Html.DisplayFor(modelItem => item.DatePosted)
			</div>
			<div>
				<label><b>City, State:</b></label>
				@Html.DisplayFor(modelItem => item.City),
				@Html.DisplayFor(modelItem => item.State)
			</div>
		</div>
		<label><b>Description:</b></label>
		<div>
			@Html.DisplayFor(modelItem => item.Description)
		</div>
	</div>
}