@model PagedResult<IguanaLinkViewModel>
@using IguanaTracker.Data.Helpers;
@using IguanaTracker.Data.Data.ViewModels;
@using System.Linq.Dynamic.Core;

@{
	ViewData["Title"] = "Sightings";
}

<h1>Sightings</h1>

@Html.ActionLink("Add Sighting", $"AddSighting", $"Home")


@foreach (var item in Model.Queryable)
{
	<hr />
	<div id="iguana_@item.Iguana.Id" class="sighting">
		<div>
			<img class="img-fluid" role="img" aria-label="Uploaded Image" src="@item.Link" width="500" alt="iguana_@item.Iguana.Id" />
			<div id="map-container-google-1" class="map-container" style="width: 500px; height: 350px;">
				<iframe aria-label="Google map pinpointing location of iguana sighting." src="@string.Format("https://maps.google.com/maps?q={0},{1}&z={2}&output=embed", item.Iguana.Latitude, item.Iguana.Longitude, 15)" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
			</div>

		</div>
		<div>
			<div>
				<label><b>Date Posted:</b></label>

				@Html.DisplayFor(modelItem => item.Iguana.DatePosted)
			</div>
			<div>
				<label><b>City, State:</b></label>
				@Html.DisplayFor(modelItem => item.Iguana.City),
				@Html.DisplayFor(modelItem => item.Iguana.State)
			</div>
		</div>
		<label><b>Description:</b></label>
		<div>
			@Html.DisplayFor(modelItem => item.Iguana.Description)
		</div>
	</div>
}

<nav class="table-responsive">
	<ul class="pagination justify-content-center d-flex flex-wrap">
		@if (Model.CurrentPage > 1)
		{
			<li class="page-item">
				<a class="page-link" href="/Sightings">First</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="/Sightings?p=@(Model.CurrentPage - 1)">Previous</a>
			</li>
		}

		@for(var i = 1; i <= Model.PageCount; i++)
		{
			<li class="page-item @(i == Model.CurrentPage ? "active" : "")">
				<a class="page-link" href="/Sightings?p=@i">@i</a>
			</li>
		}

		@if (Model.CurrentPage < Model.PageCount)
		{
			<li class="page-item">
				<a class="page-link" href="/Sightings?p=@(Model.CurrentPage + 1)">Next</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="/Sightings?p=@(Model.PageCount)">Last</a>
			</li>
		}
	</ul>
</nav>