@model IEnumerable<IguanaTracker.Data.Data.Iguana>
@using IguanaTracker.Data.Helpers;

@{
	ViewData["Title"] = "Sightings";
}

<h1>Sightings</h1>

@Html.ActionLink("Add Sighting", "AddSighting", "Home")

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.DatePosted)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Image)
			</th>
			<th>
				Map
			</th>
			<th>
				@Html.DisplayNameFor(model => model.City)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.State)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Reverse())
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.DatePosted)
				</td>
				<td>
					@*@Html.DisplayFor(modelItem => item.Image)*@
					<img src="@Helpers.formatBytesToImage(item.Image)" width="400" alt="iguana_@item.Id"/>
				</td>
				<td>
					<iframe src="@String.Format("https://maps.google.com/maps?q={0},{1}&z=15&output=embed", item.Latitude, item.Longitude)" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.City)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.State)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
			</tr>
		}
	</tbody>
</table>
